body {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  cursor: default;
  background-color: #f4f4f4;
  text-align: left;   
  color:#555555;
}
h2 {
  color: #57068c;
}
.col-md-6 {
  border-left: 1px solid #d3d3d3;
  height: 600px;
}
